MODEL_API_KEY=
MODEL_ENDPOINT=
MODEL_API_VERSION=2024-08-01-preview
BATCH_MODEL_NAME=gpt-4o-global-batch
CHAT_COMPLETIONS_MODEL_NAME=gpt-4o-2024-08-06

LANGFUSE_HOST=
LANGFUSE_PUBLIC_KEY=pk-
LANGFUSE_SECRET_KEY=sk-

LLAMA_GUARD_API_KEY=
LLAMA_GUARD_ENDPOINT=

OPENAI_MODERATION_API_KEY=
